<html>
    <head>
        <title>Encyclopedia of Habisfern</title>
        <meta name="title" content="Encyclopedia of Habisfern">

        <link rel="STYLESHEET" media="screen" type="text/css"
              href="/usr/share/web/css/encyclopedia.css" />
    </head>
    <body>
        <div class="header">
            <h1>Encyclopedia of Habisfern</h1>
        </div>

        <div class="sidebar">
            <h2>Introduction</h2>
            
            <p>
                This is an encyclopedia of the Habisfern fantasy
                campaign world. It is by no means complete.
            </p>
            
            <h2>Resources</h2>
            
            <p>
                Source code resources of all entries are
                available somewhere.
            </p>
        </div>

        <div class="bodytext">
