<?xml version="1.0"?>
<configuration>
    <title>Encyclopedia of Habisfern</title>
    <tagline>Habisfern</tagline>

    <templates>
        <template name="mainpage" path="templates/index.html"/>
        <template name="footer" path="templates/footer.html"/>
    </templates>

    <website>
        <homepage href="/habisfern/index.html"/>
        <counter href="/counters/habisfern.php"/>
    </website>

    <stylesheets>
        <stylesheet name="entry"
            location="/usr/share/xml/yagsbook/article/xslt/html/encyclopedia.xsl"/>
    </stylesheets>

    <categories>
        <category name="Places">
            <title>Places and Regions</title>

            <category name="Geography">
                <title>Geographical features</title>

                <category name="Hills">
                    <title>Hills</title>
                </category>

                <category name="Mountains">
                    <title>Mountains and Peaks</title>
                </category>

                <category name="Woods">
                    <title>Woods and Forests</title>
                </category>

                <category name="Marshes">
                    <title>Marshes, Swamps and Fens</title>
                </category>

                <category name="Moors">
                    <title>Moors and Heath</title>
                </category>

                <category name="Caves">
                    <title>Caves</title>
                </category>

                <category name="Seas">
                    <title>Seas and Oceans</title>
                </category>

                <category name="Lakes">
                    <title>Lakes</title>
                </category>

                <category name="Rivers">
                    <title>Rivers</title>
                </category>

                <category name="Islands">
                    <title>Islands</title>
                </category>
            </category>

            <category name="Settlements">
                <title>Towns, Castles and Ruins</title>

                <category name="Cities">
                    <title>Cities</title>
                </category>

                <category name="Towns">
                    <title>Towns</title>
                </category>

                <category name="Villages">
                    <title>Villages and Hamlets</title>
                </category>

                <category name="Castles">
                    <title>Castles and Fortifications</title>
                </category>

                <category name="Ruins">
                    <title>Ruins</title>
                </category>

                <category name="Henges">
                    <title>Henges, Barrows and Mounds</title>
                </category>

                <category name="Temples">
                    <title>Temples and Religious Buildings</title>
                </category>
            </category>

            <category name="Regions">
                <title>Regions, Countries and Areas</title>

                <category name="Kingdoms">
                    <title>Kingdoms and Empires</title>
                </category>

                <category name="Shires">
                    <title>Shires and Counties</title>
                </category>

                <category name="Countries">
                    <title>Countries</title>
                </category>
            </category>
        </category>

        <category name="Organisations">
            <title>Organisations, Societies and Religions</title>

            <category name="Cults">
                <title>Religious Cults and Orders</title>
            </category>

            <category name="Societies">
                <title>Societies</title>
            </category>
        </category>

        <category name="People">
            <title>People</title>

            <category name="Races">
                <title>Races</title>
            </category>

            <category name="Kings">
                <title>Kings, Queens and Other Royalty</title>
            </category>

            <category name="Nobles">
                <title>Nobility and Land Owners</title>
            </category>

            <category name="Warriors">
                <title>Warriors</title>
            </category>

            <category name="Wizards">
                <title>Wizards, Sorcerers and Witches</title>
            </category>

            <category name="Priests">
                <title>Priests and Religious Leaders</title>
            </category>

            <category name="Craftsmen">
                <title>Craftsmen and Other Professionals</title>
            </category>

            <category name="Merchants">
                <title>Merchants and Bankers</title>
            </category>

            <category name="Rogues">
                <title>Rogues and Thieves</title>
            </category>

            <category name="Bards">
                <title>Bards and Other Performers</title>
            </category>
        </category>

        <category name="Mythology">
            <title>Myths, Legends and Gods</title>

            <category name="Gods">
                <title>Gods and Divine Creatures</title>
            </category>

            <category name="Legends">
                <title>Legends and Myths</title>
            </category>

            <category name="Heroes">
                <title>Ancient Heroes of the Past</title>
            </category>

            <category name="Astrology">
                <title>The Stars and Heavens</title>
            </category>
        </category>

        <category name="Beasts">
            <title>Beasts, Animals and Monsters</title>

            <category name="Spirits">
                <title>Spirits, Faeries and Elementals</title>
            </category>
        </category>

        <category name="Items">
            <title>Items of Worth</title>

            <category name="Arms">
                <title>Arms and Armour</title>
            </category>
        </category>

        <category name="Lore">
            <title>Lore</title>

            <category name="History">
                <title>Historical Events</title>
            </category>

            <category name="Battles">
                <title>Battles</title>
            </category>

            <category name="Languages">
                <title>Languages and Writing</title>
            </category>

            <category name="Magic">
                <title>Magic</title>
            </category>
        </category>

        <category name="Glossary">
            <title>Glossary of Miscellaneous Terms</title>
        </category>
    </categories>


    <topicsets>
        <topicset name="General">
            <topic uri="all">All entries</topic>
        </topicset>

        <topicset name="Topics by Region">
            <topic uri="eorthe">Eorthe</topic>
            <topic uri="euressa">Euressa</topic>
            <topic uri="taneith">Taneith</topic>
        </topicset>

        <topicset name="Topics by Campaign">
            <topic uri="habisfern">Habisfern</topic>
            <topic uri="leodhata">Leodhata</topic>
        </topicset>

        <topicset name="Topics by Religion">
            <topic uri="brytish-mythology">Brytish</topic>
            <topic uri="rornic-mythology">Rornic</topic>
        </topicset>
    </topicsets>

    <body>
        <p>
            Habisfern is a fantasy campaign world. It is low fantasy,
            with realistic ecologies, histories and societies. Magic
            exists, and is relatively common, but low powered.
        </p>

        <p>
            The purpose of this encyclopedia is to describe all facets
            of this world, in an easily accessible form. It is currently
            limited in the number of entries, but is growing as older
            documents are converted into the encyclopedia format.
        </p>

        <p>
            It is currently very much a work in progress. Most of the
            pages here are auto generated, so expect the format of the
            encyclopedia to change radically at any time as the
            technology behind the pages is updated and modified.
        </p>

        <p>
        </p>
    </body>
</configuration>
